@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */

* {
  /* font-family: "Work Sans", sans-serif; */
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.scrollbar-sm::-webkit-scrollbar {
  height: 5px;
}
/* Track */
.scrollbar-sm::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle */
.scrollbar-sm::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.scrollbar-sm::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .scrollbar-sm{
        scrollbarheight: 5px;

      } */
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
